.myappointments__pagewrapper{


.mb-3{
    margin-top: 35px;
}
    
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .card-text:last-child{
        color:var(--main-blue);
        &:hover{
            cursor: pointer;
            
            color:var(--secondary-lightblue);
        }
    }
    #myappointments-btn-primary{
        background-color:var(--color-bloodred);
    border-color:var(--color-bloodred);
    .card-text:last-child{
        color:var(--main-blue);
        &:hover{
            cursor: pointer;
            
            color:var(--secondary-lightblue);
        }
    }
    }
    // .container{
       
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column; 
        
    // }
}

