.myappointments__pagewrapper{


.mb-3{
    margin-top: 35px;
}
    
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #myappointments-btn-primary{
        background-color:var(--color-bloodred);
    border-color:var(--color-bloodred);
    }
    // .container{
       
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column; 
        
    // }
}